!Xft.dpi: 96
Xft.antialias: true
!Xft.hinting: true
!Xft.rgba: rgb
!Xft.autohint: false
!Xft.hintstyle: hintslight
!Xft.lcdfilter: lcddefault

! URxvt Appearance
URxvt.depth: 24
URxvt.fading: 10
URxvt.scrollBar: off
URxvt.urgentOnBell: True
URxvt.visualBell: False
URxvt.font: xft:Source Code Pro Semibold:size=11
URxvt.cursorBlink: true
URxvt.internalBorder: 15
URxvt.saveline: 2048


*cursorColor: #ff6565


!-------Colors------!
*background:  #22313c
*foreground:  #e5e5e5
*color0:  #aaaaaa
*color1:  #ff081f
*color2:  #ff0000
*color3:  #ffa200
*color4:  #93c7d5
*color5:  #37b4e3
*color6:  #fc5900
*color7:  #e5e5e5
*color8:  #bbbbbb
*color9:  #ff4343
*color10:  #ff6565
*color11:  #ff8e0f
*color12:  #93d8e6
*color13:  #37c5f4
*color14:  #fc4800
*color15:  #e4e4e4
