!Xft.dpi: 96
Xft.antialias: true
!Xft.hinting: true
!Xft.rgba: rgb
!Xft.autohint: false
!Xft.hintstyle: hintslight
!Xft.lcdfilter: lcddefault

! URxvt Appearance
URxvt.depth: 32 
URxvt.fading: 10
URxvt.scrollBar: off
URxvt.urgentOnBell: True
URxvt.visualBell: False
URxvt.font: xft:Source Code Pro Semibold:size=11
URxvt.cursorBlink: true
URxvt.internalBorder: 15
URxvt.saveline: 2048


! colors
*.foreground:   #cac7c2
*.background:   #212620
*.cursorColor:  #cac7c2

! black
*.color0:       #414640
*.color8:       #373b41

! red
*.color1:       #4c7444
*.color9:       #749c6c

! green
*.color2:       #83401a
*.color10:      #de935f

! yellow
*.color3:       #6e5c77
*.color11:      #736c77

! blue
*.color4:       #647c7c
*.color12:      #81a3be

! magenta
*.color5:       #664c4c
*.color13:      #9c9494

! cyan
*.color6:       #705c4f
*.color14:      #857f55

! white
*.color7:       #707880
*.color15:      #c5c8c6
