/* wofi config */

@define-color bg #282a36;
@define-color selected_bg #bd93f9;
@define-color light_font #f8f8f2;

* {
    outline-style: none;
    color: @light_font;
    outline-style: none;
    border: none;
    border-radius: 0px;
    background: @bg;
}

#inner-box,
#input,
#scroll, 
#text, 
#entry,
#unselected,
#window,
#outer-box {
    /* no additional styles*/
}

#entry {
    padding: 0px 10px;
}

#entry:selected,
#entry:selected * {
    background: @selected_bg;
    color: @bg;
}

#input {
    text-decoration: underline;
    font-weight: bold;
}

